html {
    height: 100%;
    font-family: 'Original Surfer', sans-serif;
    font-size: 1.5em;
    
}

body {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
}

#locationSelection {
    text-align: center;
    margin-bottom: 20px;
}

select {
    background-color: orange;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Original Surfer', sans-serif;

}

#infoContainer {
    display: flex;
}

.infoSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    background-color: orange;
    border-radius: 12px;
}

label {
    padding: 5px;
    margin-bottom: 10px;
}

footer {
    
    margin: 0px;
    margin: 0px;
    text-align: center;
    background-color: #333;
    color: white;
}

img{

    max-width: 70px;
  



}

h1{

    margin: 20px;



}

#title{


    display: flex;


}
