html {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#locationSelection {
    text-align: center;
    margin-bottom: 20px;
}

select {
    background-color: orange;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
}

#infoContainer {
    display: flex;
}

.infoSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    background-color: orange;
    border-radius: 12px;
}

label {
    padding: 5px;
    margin-bottom: 10px;
}
